[init]
	defaultBranch = main
[user]
	name = Zack Breakstone
	email = z.breakstone@gmail.com
[core]
	editor = cursor --wait
	excludesfile = /Users/zack/.gitignore_global
[fetch]
	prune = true # prune on every fetch
[pull]
	prune = true # prune on every pull